asgiref==3.4.1
bleach==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==3.2.7
django-bleach==1.0.0
django-crispy-forms==1.14.0
dnspython==2.2.1
gunicorn==20.1.0
idna==3.3
psycopg2==2.9.3
pymongo==4.1.1
python-dotenv==0.20.0
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
webencodings==0.5.1
whitenoise==5.3.0
