{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Login - Tankobon
{% endblock title %}

{% block content %}
    <div class="head">
        <h3>Welcome home!</h3>
        <p>お帰りなさい!</p>
    </div>
    <br />
    <div class="container">
        <div class="form-container bg-tank">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-tankobon">Log In</button>
            </form>
        </div>
    </div>
{% endblock content %}
