{% extends "base.html" %}
{% block title %}
    Login - Tankobon
{% endblock title %}
{% block heading %}
    <div class="bg-blay flex flex-col items-center justify-center content-center text-center p-[75px] text-whay">
        <h3 class="font-bold text-2xl pb-3">Welcome home!</h3>
        <p>お帰りなさい!</p>
    </div>
{% endblock heading %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="p-[25px] bg-red-200">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="p-[25px]">
    <form class="form" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out">Log In</button>
    </form>
</div>
{% endblock content %}
