{% extends "base.html" %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<div class="mx-auto max-w-7xl px-4 mt-[75px]">
    <div class="flex flex-col items-center justify-center content-center text-center py-6">
        <h1 class="font-bold text-2xl pb-3">Forgot your password?</h1>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Send me instructions!" class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out cursor-pointer" />
    </form>
</div>
{% endblock content %}