{% extends "base.html" %}
{% block title %}
    Sign Up
{% endblock title %}
{% block heading %}
    <div class="bg-blay flex flex-col items-center justify-center content-center text-center p-[75px] text-whay">
        <h3 class="font-bold text-2xl pb-3">Welcome!</h3>
        <p>ようこそ！</p>
    </div>
{% endblock heading %}
{% block content %}
    <div class="p-[25px]">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out">Signup</button>
        </form>
    </div>
{% endblock content %}
