@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --tankobon-black: #0b0b0b;
  --tankobon-white: #fefefe;
  --tankobon-hint: #29cf95;
}

body {
  background-color: var(--tankobon-white) !important;
}

* {
  font-family: Montserrat, sans-serif;
}