@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 75px;
}

.section {
    padding: 25px;
}

.footer {
    margin-top: auto;
}

.poster {
    border-radius: 10px;
}

.badge {
    margin-right: 10px !important;
}

.badge-anilist {
    background-color: rgb(11,22,34) !important;
}

.badge-mal {
    background-color: rgb(46,81,162) !important;
}

.badge-mangaupdates {
    background-color: rgb(82,102,124) !important;
}

.badge-anime-planet {
    background-color: rgb(252,83,66) !important;
}

.badge-kitsu {
    background-color: rgb(72,48,72) !important;
}

.badge-section {
    display: flex;
    flex-wrap: wrap;
}