@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 75px;
}

.section {
    padding: 25px;
}

.footer {
    margin-top: auto;
}

.poster {
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.search-result {
    margin: 10px !important;
}

details {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-bottom: 10px;
}

details > summary {
    list-style-type: '';
}

details[open] > summary {
    list-style-type: '';
}

summary {
    padding: 8px 16px;
    background-color: rgba(0,0,0,.03);
}

.chapter-li {
    margin: 10px;
}

.bg-tank {
    background-color: rgb(82, 185, 185);
}

code {
    color: rgb(10, 10, 10) !important;
}

.link {
    color: rgb(20, 20, 20) !important;
}

.form-group {
    margin-bottom: 15px;
}

::selection {
    color: black;
    background-color: rgb(82, 185, 185);
}

::-moz-selection {
    color: black;
    background-color: rgb(82, 185, 185);
}