.volume-poster {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .volume-content {
    flex-direction: column;
  }

  .volume-poster-div {
    display: flex;
    justify-content: center;
  }

  .volume-poster {
    width: 100px;
  }
}

.volume-header {
  border-bottom: none !important;
}

.chapters {
  border-top: 1px solid #0b0b0b;
}
