:root {
  --swiper-theme-color: rgb(254 254 254);
}

.swiper-manga-description-wrapper {
  /* Fallback for non-webkit */
  display: -webkit-box !important;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical !important;
}
