:root {
  --swiper-theme-color: rgb(254 254 254);
}

.swiper-slide {
  background-color: rgb(11 11 11);
  color: rgb(254 254 254);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gradient-bg {
  background: rgb(11 11 11 / 75%);
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  /* Mobile phones */
  .swiper-slide {
    height: 350px;
  }
}

.swiper-details {
  position: absolute;
  bottom: 25px;
}

.swiper-manga-description-wrapper {
  height: 7.3em;
  max-width: 25em;
  display: block;

  /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis !important;
  margin-bottom: 15px;
}

.badge {
  margin-right: 10px !important;
}

.swiper-name {
  font-size: 1.2rem;
}

@media screen and (min-width: 576px) {
  .swiper-name {
    font-size: calc(1.375rem + 1.5vw);
  }
}
