{% extends "web/manga/manga_detail.html" %}
{% load detail_tags %}
{% load bleach_tags %}
{% load utility %}
{% block volume_details %}
    {% for edition in editions %}
        <div class="mb-4">
            <div class="flex justify-between">
                <h3 class="font-bold text-lg mb-2">{% capitalize edition.name %} Edition</h3>
                {% if edition.language %}
                    <img class="h-full" alt="{{ edition.language }}" title="{{ edition.language }}" src="https://www.countryflagicons.com/SHINY/24/{{ edition.language.code }}.png" />
                {% endif %}
            </div>
            <div class="w-full overflow-scroll flex gap-4 mb-2">
                {% for volume in edition.volume_set.all %}
                    <div id="{{ edition.name }}-{{ volume.absolute_number }}" class="rounded min-w-[150px] h-[225px] flex justify-center items-end bg-hint bg-no-repeat bg-cover bg-center text-xs overflow-hidden cursor-pointer"
                         style="background-image: url('{% if volume.poster_file %} {{ volume.poster_file.url }}{% endif %}')">
                        {% if volume.absolute_number == -1 %}
                            <p class="w-full text-center text-whay p-2 bg-blay">No volume</p>
                        {% else %}
                            <p class="w-full text-center text-whay p-2 bg-blay">Volume {{ volume.absolute_number }}</p>
                        {% endif %}
                    </div>
                    <!--Overlay Effect-->
                    <div class="fixed hidden inset-0 backdrop-blur-sm bg-blay bg-opacity-50 overflow-y-auto h-full w-full z-10"
                         id="{{ edition.name }}-{{ volume.absolute_number }}-modal">
                        <div class="md:rounded relative md:top-20 mx-auto w-full h-full md:h-auto md:w-[600px] shadow-lg bg-white">
                            <div class="bg-hint p-[15px] text-blay md:rounded-t">
                                <div class="mx-auto flex items-center justify-center">
                                    <div class="rounded min-w-[150px] h-[225px] flex justify-center items-end bg-hint bg-no-repeat bg-cover bg-center" style="background-image: url('{% if volume.poster_file %} {{ volume.poster_file.url }}{% endif %}')"></div>
                                </div>
                                <h3 class="text-center text-lg font-bold my-4">
                                    {% if volume.absolute_number == -1 %}
                                        No volume
                                    {% else %}
                                        Volume {{ volume.absolute_number }}
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        {% if not volume.locked %}
                                            <a href="{% url 'edit_volume' manga.id volume.absolute_number %}{% urlparams edition=edition.name %}"
                                               class="edit-link link"
                                               title="Edit this volume"><i class="fa-solid fa-pencil"></i></a>
                                        {% else %}
                                            <span title="Editing locked"><i class="fa-solid fa-lock"></i></span>
                                        {% endif %}
                                    {% endif %}
                                </h3>
                                <button id="{{ edition.name }}-{{ volume.absolute_number }}-btn"
                                        class="absolute right-0 top-0 px-3 py-2">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </button>
                            </div>
                            <div class="m-4 px-7 py-3 max-h-[250px] overflow-scroll">
                                {{ volume.chapters | listify | bleach:"li,p,b,br" }}
                            </div>
                        </div>
                    </div>

                    <script>
                        (function () {
                            // Grabs all the Elements by their IDs which we had given them
                            let modal = document.getElementById("{{ edition.name }}-{{ volume.absolute_number }}-modal");
                            
                            let volume = document.getElementById("{{ edition.name }}-{{ volume.absolute_number }}");
                            
                            let button = document.getElementById("{{ edition.name }}-{{ volume.absolute_number }}-btn");

                            let body = document.body;
                            
                            // We want the modal to open when the Open button is clicked
                            volume.onclick = function() {
                                modal.style.display = "block";
                                body.style.overflow = "hidden";
                            }
                            
                            // We want the modal to close when the OK button is clicked
                            button.onclick = function() {
                                modal.style.display = "none";
                                body.style.overflow = "auto";
                            }
                        })();
                    </script>
                {% endfor %}
            </div>
            <div id="{{ edition.name }}-chapters"></div>
        </div>
    {% endfor %}
    {% if not manga.locked %}
        <a href="{% url 'new_volume' manga.id %}"
           class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out"><i class="fa-solid fa-plus"></i> Volume</a>
        <a href="{% url 'new_edition' %}"
           class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out"><i class="fa-solid fa-plus"></i> Edition</a>
    {% endif %}
    {% if user.is_staff %}
        <a href="{% url 'admin:api_manga_change' manga.id %}"
           class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out">Admin</a>
    {% endif %}
{% endblock volume_details %}
