{% extends "base.html" %}
{% load static %}
{% block title %}
All Manga - Tankōbon
{% endblock title %}
{% block meta_description %}
A centralised site that documents what chapter is in which volume of a manga. There are currently {{ count }} manga in our database, with more documented frequently!
{% endblock meta_description %}
{% block content %}
    <div class="mx-auto max-w-7xl px-4 mt-[75px]">
        <div class="flex flex-col items-center justify-center content-center text-center py-6">
            <h3 class="font-bold text-2xl">We currently have {{ count }} manga in the database.</h3>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
            {% for manga in results %}
                {% include "web/shared/_banner_card.html" with manga=manga only %}
            {% endfor %}
        </div>
        <div class="flex justify-center">
            <nav aria-label="Page navigation">
            <ul class="flex gap-2 list-style-none">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a
                        class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-whay hover:text-blay hover:bg-gray-200 focus:shadow-none"
                        href="?page=1" tabindex="-1" aria-disabled="true">&laquo;</a></li>
                    <li class="page-item"><a
                        class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-whay hover:text-blay hover:bg-gray-200 focus:shadow-none"
                        href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}

                <li class="page-item disabled"><a
                    class="page-link relative block py-1.5 px-3 rounded border-0 bg-whay outline-none transition-all duration-300 rounded text-blay shadow-md focus:shadow-md"
                    href="#">{{ page_obj.number }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a
                        class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-whay hover:text-blay hover:bg-gray-200 focus:shadow-none"
                        href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a
                        class="page-link relative block py-1.5 px-3 rounded border-0 bg-transparent outline-none transition-all duration-300 rounded text-whay hover:text-blay hover:bg-gray-200 focus:shadow-none"
                        href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
            </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
