{% extends "web/manga/manga_detail.html" %}
{% load detail_tags %}
{% load bleach_tags %}
{% load utility %}
{% block volume_details %}
    {% for edition in editions %}
        <div class="mb-4">
            <div class="flex justify-between">
                <h3 class="font-bold text-lg mb-2">{% capitalize edition.name %} Edition</h3>
                {% if edition.language %}
                    <img class="h-full" alt="{{ edition.language }}" title="{{ edition.language }}" src="https://www.countryflagicons.com/SHINY/24/{{ edition.language.code }}.png" />
                {% endif %}
            </div>
            <div class="w-full overflow-y-auto flex gap-4 mb-2 track-blay">
                {% for volume in edition.volume_set.all %}
                    {% include "web/shared/_volume.html" with volume=volume user=user only %}
                {% endfor %}
            </div>
            <div id="{{ edition.name }}-chapters"></div>
        </div>
    {% endfor %}
    <div class="flex flex-wrap gap-4">
        {% if not manga.locked %}
            <a href="{% url 'new_volume' manga.id %}"
               class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out"><i class="fa-solid fa-plus"></i> Volume</a>
            <a href="{% url 'new_edition' %}"
               class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out"><i class="fa-solid fa-plus"></i> Edition</a>
        {% endif %}
        {% if user.is_staff %}
            <a href="{% url 'admin:api_manga_change' manga.id %}"
               class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out">Admin</a>
        {% endif %}
    </div>
{% endblock volume_details %}
