.banner-card {
  border-radius: 5px !important;
  border: 1px solid #212529 !important;
}

.banner-card-img-container {
  height: 200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.banner-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-card-parent {
  padding: 12px !important;
}

.no-banner-div {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
  text-align: center !important;
}

.no-banner {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  color: #212529;
}

.manga-title h5 {
  font-size: smaller;
  margin: 0;
}
