{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>
            {% block title %}
            Tankōbon
            {% endblock title %}
      </title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
      <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      {% tailwind_css %}
      <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon/favicon.svg' %}" />
      <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon.png' %}" />
      <script src="https://kit.fontawesome.com/f1da3ec963.js" crossorigin="anonymous"></script>
      <meta name="description" content="Track your manga collection with ease." />
      <meta property="og:description"
            content=" {% block meta_description %} Track your manga collection with ease. {% endblock meta_description %}" />
      <meta name="keywords"
            content=" {% block meta_tags %} tankobon, tankōbon, manga, chapters, manga chapters, volumes, manga volumes, manga collecting {% endblock meta_tags %}" />
      <meta property="og:title"
            content=" {% block meta_title %} Tankōbon - manga collecting {% endblock meta_title %}" />
      <meta property="og:image"
            content=" {% block meta_image %} {% static 'img/header.png' %} {% endblock meta_image %}" />
      <meta property="og:image:alt" content=" {% block meta_image_alt %} Tankōbon logo {% endblock meta_image_alt %}" />
      <meta name="twitter:image"
            content=" {% block meta_twitter_image %} {% static 'img/header.png' %} {% endblock meta_twitter_image %}" />
      <meta property="twitter:image:alt"
            content=" {% block meta_twitter_image_alt %} Tankōbon logo {% endblock meta_twitter_image_alt %}" />
      <meta name="twitter:card" content="summary_large_image" />
      {% block extrahead %}
      {% endblock extrahead %}
</head>

<body>
      <div class="flex flex-col h-screen justify-between">
            {% include "shared/_navbar.html" %}
            <main class="h-screen">
                  <div class="mb-6">
                        {% block heading %}
                        {% endblock heading %}
                  </div>
                  <div class="mx-auto max-w-7xl px-4">
                        {% block content %}
                        {% endblock content %}
                  </div>
            </main>
            <footer class="bg-blay text-white text-sm mt-6">
                  <div class=" mx-auto max-w-7xl p-4">
                        <a href="https://github.com/crxssed7/tankobon" class="text-hint underline">Tankōbon</a>
                        developed by <a href="https://github.com/crxssed7" class="text-hint underline">crxssed</a> · <a
                              href="https://forms.gle/TYcJq3EJhPhC4iE87" class="text-hint underline">Reports</a> · <a
                              href="{% url 'contrib' %}" class="text-hint underline">Guidelines</a>
                  </div>
            </footer>
      </div>
      <script src="{% static 'js/disable_autocomplete.js' %}"></script>
</body>

</html>
