{% extends "base.html" %}
{% load static %}
{% block title %}
All Manga - Tankōbon
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/shared/_banner_card.css' %}"/>
{% endblock extrahead %}
{% block meta_description %}
A centralised site that documents what chapter is in which volume of a manga. There are currently {{ count }} manga in our database, with more documented frequently!
{% endblock meta_description %}
{% block content %}
    <div class="head">
        <h2>We currently have {{ count }} manga in the database.</h2>
    </div>
    <div class="container section">
        <div class="row" id="content">
            {% for manga in results %}
                {% include "web/shared/_banner_card.html" with manga=manga only %}
            {% endfor %}
        </div>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link current" aria-disabled="true">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
          </ul>
    </div>
{% endblock content %}
