{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="head">
        <h3>Site Changelog</h3>
    </div>
    <div class="container section">
        <h4>
            <b>27th November 2022</b>
        </h4>
        <ul>
            <li>Updates to the navbar.</li>
            <li>Minor tweaks to UI.</li>
            <li>Minor code changes.</li>
        </ul>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container section">
        <h4>
            <b>28th September 2022</b>
        </h4>
        <ul>
            <li>Major overhaul to the search page.</li>
            <li>
                API accepts <code>status</code> as a query parameter.
            </li>
            <li>Added "Releasing" and "Completed" view all pages.</li>
        </ul>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container section">
        <h4>
            <b>22nd September 2022</b>
        </h4>
        <p>Minor changes.</p>
        <ul>
            <li>Animated volume dropdown.</li>
            <li>External site links opens new tab.</li>
        </ul>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container section">
        <h4>
            <b>10th September 2022</b>
        </h4>
        <ul>
            <li>Added 'Help is needed' page.</li>
        </ul>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container section">
        <h4>
            <b>31st August 2022</b>
        </h4>
        <p>
            You may have noticed that the URL for this site has changed. This was due to an issue with the host provider and has required some minor changes in the backend. These widgets are subject to design changes.
        </p>
        <ul>
            <li>
                Added widget for manga. Go to <code>/widget</code> to see the widget for specific manga.
            </li>
            <li>Minor backend tweaks</li>
        </ul>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container section">
        <h4>
            <b>19th August 2022</b>
        </h4>
        <ul>
            <li>
                Query parameter for manga details page called <code>volume</code> that will open a specific volume by default. Example: <code>http://127.0.0.1:8000/manga/4/?volume=1</code>
            </li>
            <li>Manga page now has a sticky details section so it is always shown on screen whilst scrolling</li>
        </ul>
    </div>
    <div class="container">
        <hr />
    </div>
    <div class="container section">
        <h4>
            <b>11th August 2022</b>
        </h4>
        <p>The main update for this log is the ability to import data from third party sites.</p>
        <ul>
            <li>Third party site imports</li>
            <ul>
                <li>Kitsu</li>
                <li>AniList</li>
            </ul>
            <li>Changed the date field for any new manga to a date picker instead of free text</li>
            <li>Addition of site changelog</li>
        </ul>
    </div>
{% endblock content %}
