{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ message }} - Tankōbon{% endblock %}

{% block content %}
<div class="head">
    <h3>{{ message }}</h3>
    {% if subnote %}
    <p>{{ subnote }}</p>
    {% endif %}
    
</div>
<div class="container section">
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <p>Please read the <a href="{% url 'contrib' %}" class="link">Contribution Guidelines</a> before submitting</p>
        <button type="submit" class="btn btn-dark">Submit</button>
        <a href="{{ previous }}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% endblock %}