{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ message }} - Tankōbon
{% endblock title %}
{% block content %}
    <div class="head">
        <h3>{{ message }}</h3>
        {% if subnote %}<p>{{ subnote }}</p>{% endif %}
    </div>
    <div class="container section">
        <div class="form-container bg-tank">
            <form class="form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p>
                    Please read the <a href="{% url 'contrib' %}" class="text-hint underline">Contribution Guidelines</a> before submitting
                </p>
                <button type="submit" class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out">Submit</button>
                <a href="{{ previous }}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>
{% endblock content %}
