{% extends "base.html" %}
{% load static %}
{% load bleach_tags %}
{% load utility %}
{% block title %}
    {{ manga.name }} - Tankōbon
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/shared/_id_badges.css' %}"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/web/detail.css' %}"/>
{% endblock extrahead %}
{% block meta_description %}
    {{ manga.description }}
{% endblock meta_description %}
{% block meta_tags %}
    tankobon, tankōbon, manga, chapters, manga chapters, volumes, manga volumes, {{ manga.name }}, {{ manga.romaji }}
{% endblock meta_tags %}
{% block meta_title %}
    {{ manga.name }} - Tankōbon
{% endblock meta_title %}
{% block meta_image %}
    {% if manga.poster_file %} {{ manga.poster_file.url }} {% endif %}
{% endblock meta_image %}
{% block meta_image_alt %}
    {{ manga.name }} poster
{% endblock meta_image_alt %}
{% block meta_twitter_image %}
    {% if manga.banner_file %} {{ manga.banner_file.url }} {% endif %}
{% endblock meta_twitter_image %}
{% block meta_twitter_image_alt %}
    {{ manga.name }} poster
{% endblock meta_twitter_image_alt %}
{% block content %}
    <div class="head">
        {% if manga.poster_file %}
            <div>
                <center>
                    <img src="{{ manga.poster_file.url }}" alt="Poster" class="poster" width="150" />
                </center>
            </div>
            <br />
        {% endif %}
        <h1>{{ manga.name }}</h1>
        {% if manga.name != manga.romaji %}<p>{{ manga.romaji }}</p>{% endif %}
        <div class="flex">
            {% for genre in manga.genres.all %}
                <span class="badge bg-dark">{{ genre.name }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="container section">
        <div class="row">
            <div class="col-sm-6">
                <div class="sticky">
                    {% if manga.banner_file %}
                        <img src="{{ manga.banner_file.url }}" alt="banner" class="poster" width="100%" />
                        <br />
                        <br />
                    {% endif %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="space-between">
                                <b>About {{ manga.name }}</b>
                                {% if user.is_authenticated %}
                                    {% if not manga.locked %}
                                        <a href="{% url 'edit_manga' manga.id %}"
                                           class="edit-link link"
                                           title="Edit this manga"><i class="fa-solid fa-pencil"></i></a>
                                    {% else %}
                                        <span title="Editing locked"><i class="fa-solid fa-lock"></i></span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body text-dark">
                            <div class="manga-description">{{ manga.description | bleach:"br,b" }}</div>
                            <a href="#" id="readmore" class="inline-block text-center px-3 py-2 bg-blay text-hint border border-solid rounded border-hint hover:bg-hint hover:text-blay hover:border-blay focus:bg-hint focus:blay focus:text-blay transition duration-300 ease-in-out">Read more</a>
                            <hr />
                            <b>Status: </b> {% capitalize manga.status %}
                            <hr />
                            <b>Start Date: </b> {{ manga.start_date }}
                            {% if manga.magazine %}
                                <hr />
                                <b>Magazine: </b> {{ manga.magazine }}
                            {% endif %}
                            <hr />
                            {% include "web/shared/_id_badges.html" with manga=manga only %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {% block volume_details %}
                {% endblock volume_details %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/read_more.js' %}"></script>
{% endblock content %}
