{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="feature">
    <img src="{% static 'img/logo.svg' %}" alt="" width="150">
    <br>
    <h1>
        Tankōbon
    </h1>
</div>

<div class="container section">
    <h3>
        What is Tankōbon?
    </h3>
    <p>
        Manga chapters are often split into volumes (think about how TV shows are split into seasons) which is what we call the Tankōbon format, however, so far I haven't found any central place that documents what chapter is in which volume. This hobby project is an attempt to fix that, and make life easier for those who categorise their manga into volumes.
    </p>
    <h3>
        How do I add data?
    </h3>
    <p>
        There is currently no direct way to add data. You can request a manga <a href="https://forms.gle/NCUVE24T8DPFUC6Y7" class="link">here</a>, or report <a href="https://forms.gle/TYcJq3EJhPhC4iE87">missing chapters</a>.
    </p>
    <br>
    <center><a class="btn btn-dark" href="{% url 'search' %}">Search our database</a></center>
</div>

{% endblock %}