{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="feature">
    <img src="{% static 'img/logo.svg' %}" alt="" width="150">
    <br>
    <h1>
        Tankōbon
    </h1>
</div>

<div class="container section">
    <h3>
        What is Tankōbon?
    </h3>
    <p>
        Manga chapters are often split into volumes (think about how TV shows are split into seasons) which is what we call the Tankōbon format, however, so far I haven't found any central place that documents what chapter is in which volume. This hobby project is an attempt to fix that, and make life easier for those who categorise their manga into volumes.
    </p>
    <br>
    <center>
        <div style="margin: 5px;" class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-dark" href="{% url 'search' %}">Search</a>
            <a class="btn btn-dark" href="{% url 'new_manga' %}">Add manga</a>
        </div>
        {% if not user.is_authenticated %}
        <div style="margin: 5px;" class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-dark" href="{% url 'login' %}">Login</a>
            <a class="btn btn-dark" href="{% url 'signup' %}">Signup</a>
        </div>
        {% endif %}
    </center>
</div>

{% endblock %}