{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Edit {{ manga.name }} - Tankōbon
{% endblock title %}

{% block content %}
<div class="head">
    <h3>Edit {{ manga.name }}</h3>
</div>
<div class="container section">
    <div class="form-container bg-tank">
        <form class="form" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
                Please read the <a href="{% url 'contrib' %}" class="link">Contribution Guidelines</a> before submitting
            </p>
            <button type="submit" class="btn btn-tankobon">Submit</button>
            <a href="{% url 'manga' manga.id %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
{% endblock content %}
