{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit {{ manga.name }} - Tankōbon{% endblock %}

{% block content %}
{% if not locked %}
<div class="container section">
    <h3>Edit {{ manga.name }}</h3>
    <p><b>Please read the <a href="{% url 'contrib' %}" class="link">Contribution Guidelines</a> before editing a record</b></p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-dark">Save</button>
        <a href="{% url 'manga' manga.id %}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% else %}
<div class="feature">
    <h1>🔒</h1>
    <br>
    <h3>Editing for this record is locked.</h3>
</div>
{% endif %}
{% endblock %}