{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit {{ manga.name }} - Tankōbon{% endblock title %}
{% block content %}
    {% if not locked %}
        <div class="head">
            <h3>Edit {{ manga.name }}</h3>
        </div>
        <div class="container section">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p>
                    Please read the <a href="{% url 'contrib' %}" class="link">Contribution Guidelines</a> before submitting
                </p>
                <button type="submit" class="btn btn-dark">Submit</button>
                <a href="{% url 'manga' manga.id %}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    {% else %}
        <div class="feature">
            <h1>🔒</h1>
            <br />
            <h3>Editing for this record is locked.</h3>
        </div>
    {% endif %}
{% endblock content %}
