{% extends 'base.html' %}

{% block title %}Manga - Tankōbon{% endblock %}

{% block content %}

<div class="feature">
    <h1>
        Search for a manga
    </h1>
</div>

<div class="container section">
    <form class="d-flex" action="{% url 'search' %}" method="get">
        <input name="q" class="form-control me-2" id="search-box" type="search" placeholder="Search" aria-label="Search" value="{{ query }}">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>

    <br>

    {% if latest_msg %}
    <h3>Latest manga:</h3>
    {% endif %}

    <div class="flex">
        {% for manga in object_list %}
        <div class="card search-result" style="width: 18rem;">
            {% if manga.poster %}
            <center><a href="{% url 'manga' manga.id %}"><img src="{{ manga.poster }}" alt="poster" width="150"></a></center>
            {% endif %}
            <div class="card-body">
              <center><a href="{% url 'manga' manga.id %}" class="link"><h5 class="card-title">{{ manga.name }}</h5></a></center>
              <center><p class="card-text text-muted">{{ manga.romaji }}</p></center>
            </div>
          </div>
        {% endfor %}
    </div>

    <center><code>Can't find the manga you're looking for? <a href="{% url 'new_manga' %}" class="link">Add it here!</a></code></center>
</div>

{% endblock %}