{% extends 'base.html' %}

{% block content %}

<div class="feature">
    <h1>
        Search for a Manga
    </h1>
</div>

<div class="container section">
    <form class="d-flex" action="{% url 'search' %}" method="get">
        <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{ query }}">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <br>

    {% for manga in object_list %}
    <div class="card" style="width: 18rem;">
        <center><img src="{{ manga.poster }}" alt="poster" width="150"></center>
        <div class="card-body">
          <a href="{% url 'manga' manga.id %}"><h5 class="card-title">{{ manga.name }}</h5></a>
          <p class="card-text">{{ manga.start_date }}</p>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}