{% extends 'base.html' %}

{% block content %}

<div class="feature">
    <h1>
        Search for a Manga
    </h1>
</div>

<div class="container section">
    <form class="d-flex" action="{% url 'search' %}" method="get">
        <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <ul>
        {% for manga in object_list %}
          <li>
            <a href="{% url 'manga' manga.id %}">{{ manga.name }}</a>
          </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}