{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Edit {{ volume.manga.name }} - Tankōbon
{% endblock title %}

{% block content %}
<div class="head">
    <h3>Edit Volume</h3>
    {% if volume.absolute_number == -1 %}
        <p>{{ volume.manga.name }} non-tankobon chapters</p>
    {% else %}
        <p>{{ volume.manga.name }} {{ volume.edition.name }} Volume {{ volume.absolute_number }}</p>
    {% endif %}
</div>
<div class="container section">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            Please read the <a href="{% url 'contrib' %}" class="link">Contribution Guidelines</a> before submitting
        </p>
        <button type="submit" class="btn btn-dark">Submit</button>
        <a href="{% url 'manga' volume.manga.id %}" class="btn btn-danger">Cancel</a>
    </form>
</div>
{% endblock content %}
