<div class="col-span-1 p-[12px]">
    <a href="{% url 'manga' manga.id %}">
        <div class="hoverable relative flex flex-col rounded border border-blay">
            {% if manga.banner_file %}
                <div class="h-[200px] rounded-t-[5px] overflow-hidden">
                    <img class="w-full h-full object-cover" src="{{ manga.banner_file.url }}" alt="{{ manga.name }} Banner" />
                </div>
            {% else %}
                <div class="h-[200px] rounded-t-[5px] overflow-hidden bg-hint flex flex-col justify-center items-center">
                    <span class="font-bold text-xl text-blay">No Banner Found.</span>
                </div>
            {% endif %}
            <div class="p-4 text-xs">
                <center>
                    <h5>{{ manga.name }}</h5>
                </center>
            </div>
        </div>
    </a>
</div>
