<div class="flex flex-wrap gap-2">
    {% if manga.anilist_id %}
        <a href="https://anilist.co/manga/{{ manga.anilist_id }}"
           target="_blank"
           rel="noopener noreferrer">
            <h5>
                <span class="text-xs font-bold text-whay p-[5px] rounded bg-anilist">AniList</span>
            </h5>
        </a>
    {% endif %}
    {% if manga.mal_id %}
        <a href="https://myanimelist.net/manga/{{ manga.mal_id }}"
           target="_blank"
           rel="noopener noreferrer">
            <h5>
                <span class="text-xs font-bold text-whay p-[5px] rounded bg-mal">MAL</span>
            </h5>
        </a>
    {% endif %}
    {% if manga.mangaupdates_id %}
        <a href="https://www.mangaupdates.com/series.html?id={{ manga.mangaupdates_id }}"
           target="_blank"
           rel="noopener noreferrer">
            <h5>
                <span class="text-xs font-bold text-whay p-[5px] rounded bg-mangaupdates">MangaUpdates</span>
            </h5>
        </a>
    {% endif %}
    {% if manga.anime_planet_slug %}
        <a href="https://www.anime-planet.com/manga/{{ manga.anime_planet_slug }}"
           target="_blank"
           rel="noopener noreferrer">
            <h5>
                <span class="text-xs font-bold text-whay p-[5px] rounded bg-animeplanet">Anime Planet</span>
            </h5>
        </a>
    {% endif %}
    {% if manga.kitsu_id %}
        <a href="https://kitsu.io/manga/{{ manga.kitsu_id }}"
           target="_blank"
           rel="noopener noreferrer">
            <h5>
                <span class="text-xs font-bold text-whay p-[5px] rounded bg-kitsu">Kitsu</span>
            </h5>
        </a>
    {% endif %}
    {% if manga.fandom %}
        <a href="{{ manga.fandom }}" target="_blank" rel="noopener noreferrer">
            <h5>
                <span class="text-xs font-bold text-whay p-[5px] rounded bg-fandom">Fandom</span>
            </h5>
        </a>
    {% endif %}
</div>
