<div class="chip-card">
    <a href="{% url 'manga' manga.id %}" class="link card-link">
        <div style="display: flex;">
            {% if manga.poster %}
            <div class="chip-img" style="background-image: url('{{ manga.poster }}');"></div>
            {% else %}
            <div class="chip-img"></div>
            {% endif %}
            <div>
                <div class="chip-name-wrapper">
                    <h5 style="font-weight: bold;">{{ manga.name }}</h5>
                </div>
                <p style="margin-bottom: 0px;"><small class="text-muted">{{ manga.volume_count }} volumes</small></p>
                {% if manga.magazine %}
                <p><small class="text-muted">{{ manga.magazine }}</small></p>
                {% endif %}
            </div>
        </div>
    </a>
</div>