<div>
    <a href="{% url 'manga' manga.id %}" class="card-link">
        <div class="hoverable m-[10px] p-[10px] border border-blay rounded">
            <div class="flex">
                {% if manga.poster_file %}
                    <div class="mr-[10px] min-w-[100px] h-[150px] bg-hint bg-cover bg-no-repeat bg-center rounded" style="background-image: url('{{ manga.poster_file.url }}');"></div>
                {% else %}
                    <div class="mr-[10px] min-w-[100px] h-[150px] bg-hint rounded"></div>
                {% endif %}
                <div>
                    <div class="chip-name-wrapper block h-[4em] leading-[2em] overflow-hidden text-ellipsis">
                        <h5 class="font-bold">{{ manga.name }}</h5>
                    </div>
                    {% if manga.magazine %}
                        <p>
                            <small class="text-muted">{{ manga.magazine }}</small>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</div>
