{% load bleach_tags %}
{% load utility %}

<div class="relative">
  <a href="#swappable" hx-get="{% url 'volume' volume.id %}" hx-indicator="#progress">
    {% if user.is_authenticated and volume.absolute_number > -1 %}
      {% collected volume user as has_collected %}
      {% if has_collected %}
          <i class="fa-solid fa-square-check absolute top-0 right-0 m-2 bg-whay rounded text-blay border border-whay text-lg" title="Collected"></i>
      {% endif %}
    {% endif %}
    <div id="{{ volume.manga.id }}-{{ volume.edition.name }}-{{ volume.absolute_number }}" class="rounded min-w-[150px] h-[225px] border border-whay flex justify-center items-end bg-hint bg-no-repeat bg-cover bg-center text-xs overflow-hidden cursor-pointer"
         style="background-image: url('{% poster_url volume %}')">
    {% if volume.absolute_number == -1 %}
      <p class="w-full text-center text-whay p-2 bg-blay">No volume</p>
    {% else %}
      <p class="w-full text-center text-whay p-2 bg-blay">Volume {{ volume.absolute_number }}</p>
    {% endif %}
    </div>
  </a>
</div>
